@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.cdnfonts.com/css/miama');
.shape {
    font-family: "Miama", cursive;
    font-weight: 300;
    font-style: italic;
    font-size: 65px;
  }
  
* {
    box-sizing: border-box;
    padding-bottom: 30px;
    padding-left: 90px;
}

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    background-color: #131313;
  }

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #131313;
    padding: 10px 40px;
    max-width: 1060px; 
    margin: 0 auto; 
}

.brand-title {
    font-size: 36px;
    font-family: 'Inter', sans-serif;
    color: #E6533C;
    font-weight: 900;
    font-style: italic;
  }

.navbar-links ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

.navbar-links li {
    margin-left: 20px;
}

.navbar-links a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-family: 'Inter', sans-serif; 
    padding: 5px 10px;
    transition: background-color 0.3s ease;
    font-weight: 600;
  }

.navbar-links a:hover,
.navbar-links a.active {
    background-color: #E6533C;
    color: white;
    border-radius: 10px; 
}

.toggle-button {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.toggle-button .bar {
    height: 3px;
    width: 25px;
    background-color: white;
    margin: 4px 0;
}
:root {
    --color-white: #ffffff;
    --color-text: rgba(255, 255, 255, 0.5);
    --color-white-semi-transparent: rgba(255, 255, 255, 0.1);
    --color-accent: #e6533c;
    --color-accent-hover: #fa634c;
    --color-bg: rgb(34, 34, 34);
    --color-bg-secondary: #393939;
    --color-body: #000000;
  
    --max-w: 106rem;
  }
  
  * {
    margin: 0;
    padding: 0;
  }
  html {
    font-size: 62.5%;
    scroll-behavior: smooth;
  }
  body {
    background-color: var(--color-body);
    color: var(--color-text);
    font-family: "Inter", sans-serif;
    font-size: 1.6rem;
    overflow-x: hidden;
  }
  h1,
  h2,
  h3 {
    color: var(--color-white);
  }
  p {
    line-height: 2rem;
  }
  a{
    text-decoration: none;
    color: var(--color-white);
  }
  .max__w {
    max-width: var(--max-w);
    margin: 0 auto;
  }
  .m__section {
    margin-top: 10rem;
  }
  .m__top1{
    margin-top: 1.4rem;
  }
  .m__top3{
    margin-top: 3rem;
  }
  .m__top4{
    margin-top: 4rem;
  }
  .m__top5{
    margin-top: 5rem;
  }
  .m__top8{
    margin-top: 8rem;
  }
  .display__flex {
    display: flex;
  }
  .items__center {
    align-items: center;
  }
  .text__sm{
    font-size: 1.4rem;
    letter-spacing: .1rem;
    font-weight: 300;
  }
  .text__3xl{
    font-size: 3rem;
  }
  .text__center {
    text-align: center;
  }
  .color__accent {
    color: var(--color-accent);
  }
  .color__white {
    color: var(--color-white);
  }
  .btn {
    font-family: "Inter", sans-serif;
    font-size: 1.8rem;
    border-style: none;
    color: var(--color-white);
    padding: 1.6rem 4.5rem;
    border-radius: 35px;
    cursor: pointer;
    margin-right: 1rem;
  }
  .btn__primary{
    background-color: var(--color-accent);
  }
  .btn__primary:hover{
    background-color: var(--color-accent-hover);
    transition: transform 1s ease;
  }
  .btn__secondary {
    background: none;
    border: 1px solid var(--color-white-semi-transparent);
  }
  .btn__secondary:hover{
    border: 1px solid var(--color-accent);
    transition: transform 1s ease-in;
  }
  
.hero-content {
    width: 55%;
  }
  .hero-content h1 {
    font-size: 7.8rem;
    font-weight: bold;
    line-height: 7.5rem;
  }
  .hero-content p {
    line-height: 2.5rem;
  }
  .style-text {
    font-family: "Miama";
    font-weight: 400;
    font-size: 13rem;
  }
  .btn-shorttext {
    display: none;
  }
  .hero-image {
    position: relative;
    width: 45%;
  }
  .card {
    border: 1px solid var(--color-white-semi-transparent);
    backdrop-filter: blur(20px);
    background: var(--color-white-semi-transparent);
    padding: 1.7rem 2rem;
    border-radius: 1rem;
  }
  .card-1 {
    position: absolute;
    top: 11rem;
    right: 1.5rem;
  }
  .card-1 h3 {
    font-size: 4rem;
  }
  .card-1 p {
    letter-spacing: 0.1rem;
    font-size: 1.3rem;
  }
  .card-2 h3 {
    font-size: 2.4rem;
    text-align: left;
    margin-bottom: 1rem;
  }
  .video-icon {
    margin-right: 1rem;
  }

  .card-2 {
    position: absolute;
    bottom: 8rem;
    left: 0;
  }
  .habit-content h2 {
    font-size: 4.5rem;
  }
  .habit-content p {
    margin: 1rem 22rem;
    font-weight: 300;
    font-size: 1.4rem;
  }
  .habit-item img {
    border-radius: 50%;
    background-color: var(--color-bg);
    padding: 0.5rem;
  }
  .habit-item h3 {
    font-size: 1.8rem;
    font-weight: 500;
  }
  .habit-item p {
    margin-top: 0.6rem;
    font-weight: 300;
    font-size: 1.4rem;
  }
  .habit-lists {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 4rem;
  }
  .card-container {
    background-color: var(--color-bg);
    padding: 4rem;
    border-radius: 1.8rem;
  }
  .card-content {
    width: 65%;
  }
  .card-content h2 {
    font-size: 5rem;
  }
  .card-content p {
    font-size: 1.4rem;
    font-weight: 300;
    letter-spacing: 0.1rem;
    margin: 1.4rem 18rem 3.5rem 0;
  }
  .card-image {
    width: 36rem;
    height: 32rem;
    overflow: hidden;
    border-radius: 1.8rem;
  }
  .card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(2.5) translate(-62px, 12%);
  }

  .bmi-header-section {
    max-width: 70rem;
    margin: 0 auto;
  }
  .bmi-header-section h2 {
    font-size: 4rem;
  }
  .bmi-header-section p {
    margin: 1rem 0;
    font-size: 1.4rem;
    font-weight: 300;
    letter-spacing: 0.1rem;
  }
  .bmi-calculator-form-container {
    background-color: var(--color-bg);
  }
  .bmi-calculator-form {
    padding: 5rem 0;
  }
  .bmi-calculator {
    width: 35%;
  }
  .bmi-calculator h3 {
    font-size: 3rem;
    margin-bottom: 5rem;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  th,
  td {
    text-align: left;
    border: 1px solid var(--color-white-semi-transparent);
    padding: 1.5rem;
  }
  th {
    color: var(--color-white);
    font-size: 1.8rem;
  }
  td {
    font-size: 1.4rem;
  }
  .calculator-form {
    margin-left: 17rem;
    width: 65%;
  }
  .calculator-form h3 {
    font-size: 3rem;
  }
  .calculator-form p {
    font-size: 1.4rem;
    margin-top: 1.4rem;
  }
  .form-grid{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.2rem;
  }
  input[type="text"],
  select{
    border: none;
    border-radius: .8rem;
    background-color: var(--color-bg-secondary);
  }
  select,
  input::placeholder{
    color: var(--color-text);
    font-size: 1.4rem;
    font-weight: 300;
    font-family: "Inter", sans-serif;
  }
  
  input:focus,
  select:focus{
    outline: none;
  }
  #height,
  #weight,
  #sex,
  #age,
  #activity{
    padding: 1.5rem;
  }
  #activity{
    width: 100%;
    margin-top: 1.2rem;
  }
  .form-btn-submit{
    padding: 1.6rem 6rem;
  }  
  
.team-content{
    max-width: 70rem;
    margin: 0 auto;
  }
  .team-content h2{
    font-size: 4rem;
  }
  .team-content p{
    font-size: 1.4rem;
    font-weight: 300;
    letter-spacing: .1rem;
    margin-top: 1.4rem;
  }
   .team-trainers{
    background-color: var(--color-white-semi-transparent);
    border-radius: 1.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .team-trainers-inner{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    padding: 2.5rem;
   }
  .trainers {
      position: relative;
      width: 100%;
      height: 27rem;
  }
  .trainers img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 1.8rem;
  }
  .trainers::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.2);
      border-radius: 1.8rem;
  }
  .trainers-content{
    position: absolute;
    text-align: left;
    left: 2rem;
    bottom: 2rem;
   }
   .trainers-content h3{
    font-size: 2rem;
   }
   .trainers-content p{
    font-size: 1.4rem;
    font-weight: 300;
    letter-spacing: .1rem;
   }
          /* Unique Section  */

   .inspiration-section {
    max-width: 1440px;
    margin: auto;
    text-align: center;
    padding: 20px; 
}

.inspiration-title {
    font-size: 32px;
    margin-bottom: 20px;
}

.inspiration-description {
    margin-bottom: 30px;
}

.footer{
  background-color: var(--color-white-semi-transparent);
  padding-top: 6.5rem;
 }
 .footer-container{
  padding-bottom: 8rem;
 }
 .footer-logo-container{
   width: 60%;
 }
 .logo-footer{
  font-size: 3.6rem;
  font-style: italic;
  font-weight: 800;
 }
 .footer-logo-container p{
  font-size: 1.4rem;
  font-weight: 300;
  max-width: 40rem;
  margin-top: 1rem;
 }
 .quick-access{
  width: 40%;
  justify-content: space-between;
 }
 .footer__items ul li{
  list-style: none;
  margin-top: 1rem;
 }
 .footer__items ul li a{
  color: var(--color-text);
  font-size: 1.4rem;
  font-weight: 300;
 }
 .footer__items a:hover{
  color: var(--color-white);
 }
 .footer__items a:hover::before{
  content: '> ';
 }
 .bottom-bar{
  padding: 2rem;
  border-top: 2px solid var(--color-bg);
}
.bottom-bar p{
  font-size: 1.6rem;
  font-weight: 300;
}
@media (max-width: 576px) {
    .navbar {
        flex-direction: row;
        justify-content: space-between;
        padding: 10px 20px; 
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links li {
        text-align: center;
        width: 100%;
        margin: 10px 0;
    }

    .navbar-links a {
        width: 100%;
        padding: 10px 0;
    }
    .hero-section{
        flex-direction: column;
    }
    .hero-content{
        width: 100%;
    }
    .hero-content h1{
        font-size: 3.6rem;
        margin-right: 10rem;
        line-height: 4rem;
    }
    .style-text{
        font-size: 6rem;
    }
    .hero-content p{
        font-size: 1.6rem;
        font-weight: 300;
        margin-right: 8rem;
    }
    .btn{
        padding: 0;
        width: 16rem;
        height: 5.5rem;
    }
    .btn-fulltext{
        display: none;
    }
    .btn-shorttext{
        display: inline;
    }
    .hero-image{
        margin-top: 5rem;
        width: 100%;
        background-size: cover;
    }
    .card-1{
        top: 4rem;
        right: 0;
    }
    .card-1 h3{
        font-size: 3.5rem;
    }
    .card-1 p{
        font-size: 1rem;
    }
    .habit-section{
        margin-top: 4rem;
    }
    .habit-content h2{
        font-size: 3rem;
    }
    .habit-content p{
        margin: 1rem 4rem;
    }
    .habit-lists{
        grid-template-columns: 1fr;
        gap: 4rem;
        margin-top: 3rem;
    }
    .habit-item p{
        margin: .6rem 8rem;
    }
    .card-section{
        margin-top: 7rem;
    }
    .card-container{
        flex-direction: column;
        margin: 2rem;
        padding: 3rem;
    }
    .card-content, 
    .card-image{
        width: 100%;
    }
    .card-content h2{
        font-size: 3rem;
    }
    .card-content p{
        margin: 2rem 2rem 2em 0;
    }
    .card-btn{
        margin-bottom: 3rem;
        width: 100%;
    }
    .card-image{
        width: 100%;
        height: 100%;
    }
    .card-image img {
        transform: scale(1.5) translate(-30px, 15%);
      }
      .bmi-header-section{
        margin: 2rem;
    }
    .bmi-calculator-form-container {
        margin-top: 4rem;
      }
    .bmi-calculator{
          width: 100%;
    }
    .bmi-calculator-form{
        flex-direction: column;
    }
    .bmi-calculator-form{
        margin: 2rem;
    }
    .calculator-form{
        margin: 5rem 0 0 0;
        width: 100%;
    }
    .bmi-calculator h3,
    .calculator-form h3{
        font-size: 2.5rem;
    }
    .form-grid{
        width: 100%;
        grid-template-columns: 49% 49%;
        gap: 1rem;
    }
    .team-section{
        margin: 6.5rem 2rem 0 2rem;
    }
    .team-trainers-inner{
        grid-template-columns: 1fr;
        gap: 2rem;
       }
       /* Unique Section Responsive */
    .inspiration-section {
        width: 100%;
        padding: 10px; 
    }

    .inspiration-title {
        font-size: 1.5em; 
        margin-bottom: 15px;
    }

    .inspiration-description {
        font-size: 1em; 
        margin-bottom: 20px;
    }

    .inspiration-section iframe {
        width: 100%;
        height: auto;
    }
    .footer{
      padding-top: 4rem;
   }
   .footer-container{
      flex-direction: column;
      margin-inline: 2rem;
   }
   .footer-logo-container{
      width: 100%;
   }
   .logo-footer{
      font-size: 7rem;
   }
   .quick-access{
      flex-direction: column;
      width: 100%;
   }
   .footer__items{
      margin-top: 3rem;
   }
   .bottom-bar{
      margin-inline: 2rem;
   }
}